.trip-row
    display: block
    margin: auto
    .spacer
        display: inline-block
        &.color
            border: 1px solid
            border-width: 3px
    .finish
        display: inline-block
        width: 24px
        height: 24px
        border-radius: 50%
        background-color: blue
        color: white
        text-align: center
    .stop
        display: inline-block
        .title
            display: inline-block
            background-color: blue
            border-radius: 5px
            color: white
            min-width: 10px
            height: 24px
            text-align: center
